<%= render "admin_side", :current => "shipped" %>

<div class="contenter">
  <div class="section">
    <h1>Past Shipments</h1>
  </div>
  <div class="section">
    <table>
      <tr>
        <th>Subscription</th>
        <th>User</th>
        <th>Shipped On</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
      <% @shipped.each do |s| %>
        <tr>
          <td><%= s.invoice.subscription_id %> <%= s.invoice.free_month && "- FREE MONTH" || "" %></td>
          <td><%= s.invoice.user.billing_first_name + " " + s.invoice.user.billing_last_name %></td>
          <td><%= s.shipped_on.strftime("%m/%d/%y")%></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>