<%= render "admin_side", :current => "users" %>

<div class="contenter">
  <div class="section stats">
    <h1>Users</h1>
    <div class="bigdata">
      <div class="value"><%= User.all.size %></div>
      <div class="sub">total users</div>
    </div>
    <div class="bigdata">
      <div class="value"><%= User.where(inactive: true).size %></div>
      <div class="sub">inactive users</div>
    </div>
    <div class="bigdata">
      <div class="value"><%= User.where(inactive: false).size %></div>
      <div class="sub">paying customers</div>
    </div>
  </div>
  <div class="section">
    <table>
      <tr>
        <th>Nane</th>
        <th>Email</th>
        <th>Country</th>
        <th>Province/State</th>
        <th>Current Subscription</th>
      </tr>
      <% @users.each do |u| %>
        <tr>
          <td><%= u.billing_first_name + " " + u.billing_last_name %></td>
          <td><%= u.email %></td>
          <td><%= u.billing_country %></td>
          <td><%= u.billing_state %></td>
          <td><%= u.subscription.name %></td>
        </tr>
      <% end %>
    </table>
  </div>
  <div class="section">
    <table>
      <tr>
        <th>Inactive Emails</th>
        <th>Date Joined</th>
        <th>Via</th>
      </tr>
      <% @inactive.each do |u| %>
        <tr>
          <td><%= u.email %></td>
          <td><%= u.created_at.strftime("%b %d, %Y") %></td>
          <td><%= u.provider || "Website Signup" %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>