<%= render "admin_side", :current => "users" %>

<div class="contenter">
  <div class="section">
    <h1>Taxes</h1>
  </div>
  <div class="section">
    <table>
      <tr>
        <th>Nane</th>
        <th>Country</th>
        <th>Province/State</th>
        <th>Current Subscription</th>
      </tr>
      <% @users.each do |u| %>
        <tr>
          <td><%= u.billing_first_name + " " + u.billing_last_name %></td>
          <td><%= u.billing_country %></td>
          <td><%= u.billing_state %></td>
          <td><%= u.subscription.name %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>