<div class="registration">
  <% if flash[:alert] %>
    <div class="devise-error"><%= flash[:alert]%></div>
  <% end %>

  <h2>Sign in</h2>

  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
    <%= f.email_field :email, :autofocus => true, :placeholder => "You Email" %>
    <%= f.password_field :password, :placeholder => "• • • • • • • • • •" %>

    <div><%= f.submit "Sign in" %></div>
  <% end %>

  <%= render "users/shared/links" %>
</div>