<div class="registration">
  <% if flash[:alert] %>
    <div class="devise-error"><%= flash[:alert]%></div>
  <% end %>

  <h2>Sign in</h2>

  <%= link_to user_omniauth_authorize_path(:facebook), :class => "omni-link" do %>
    <%= image_tag "fb-btn.jpg" %>
  <% end %>

  <div class="or">
    <hr>
    <span>or</span>
  </div>

  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
    <%= f.email_field :email, :autofocus => true, :placeholder => "Your Email" %>
    <%= f.password_field :password, :placeholder => "• • • • • • • • • •" %>

    <div><%= f.submit "Sign in" %></div>
  <% end %>

  <%= render "users/shared/links" %>
</div>