<div class="container">
  <%= render "account_side", :current => "current" %>
  <div class="right-panel">
    <% if current_user.regional_subscription %>
      <h3>
        Current Subscription
      </h3>
      <div class="sub-wrap">
        <div class="avatar">

        </div>
        <div class="content">
          <h4><%= @sub.name %></h4>
          <p class="sub"><%= @sub.description %></p>
          <p class="line-item">
            Billing & delivery: <span class="bold"><%= @sub.interval_words %></span>
          </p>
          <p class="line-item">
            Next bill date: <span class="bold"><%= (Time.at(@stripe_customer.subscription.current_period_end)+1.day).strftime("%b %d, %Y") %></span>
          </p>
          <p class="line-item">
            Amount: <span class="bold"><%= "$"+display_fee(@sub.fee)+@sub.currency %></span>
          </p>
        </div>
      </div>

      <div class="options subsection">
        <h3>
          Subscription Options
        </h3>

        <div class="option">
          <p>
            Want more condoms?  Get a delivery every 2 weeks!
          </p>
          <a class="btn change">
            get delivery <br/> every 2 weeks
          </a>
        </div>
        <div class="option">
          <% if current_user.subscription.shorthand == 'jour' %>
            <p>
              Want super thin luxury condoms? Upgrade to <span class="italic">The Adventurer</span>, $17/mo
            </p>
            <%= link_to change_subscription_path(sub: 'adv'), :method => "POST", :class => "btn change" do %>
              switch to <br/> The Journeyman
            <% end %>
          <% else %>
            <p>
              Don't need the luxury? Switch to <span class="italic">The Journeyman</span>, $10/mo
            </p>
            <%= link_to change_subscription_path(sub: 'jour'), :method => "POST", :class => "btn change" do %>
              switch to <br/> The Journeyman
            <% end %>
          <% end %>
        </div>
      </div>

      <div class="danger">
        <h3>Danger Zone!</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vel dictum quam. Donec tincidunt lacus vitae elementum varius. </p>
        <%= link_to "Cancel Subscription", unsubscribe_path, :method => "POST", :confirm => "Are you sure you want to cancel your subscription?", :class => "btn cancel" %>
      </div>
    <% else %>
      <h3>
        Let's get you started again
      </h3>
    <% end %>
  </div>
</div>

