<div class="container">
  <%= render "account_side", :current => "current" %>
  <div class="right-panel">
    <% if !current_user.inactive %>
      <h3>
        Current Subscription
      </h3>
      <div class="sub-wrap">
        <div class="avatar">
          <% if current_user.subscription.shorthand == 'wing' %>
            <%= image_tag "product/wing.png" %>
          <% else %>
            <%= image_tag "product/conno.png" %>
          <% end %>
        </div>
        <div class="content">
          <h4><%= @sub.name %></h4>
          <p class="sub"><%= @sub.description %></p>
          <p class="line-item">
            Billing & delivery: <span class="bold"><%= @sub.interval_words %></span>
          </p>
          <p class="line-item">
            Next bill date: <span class="bold"><%= (Time.at(@stripe_customer.subscriptions.data[0].current_period_end)+1.day).strftime("%b %d, %Y") %></span>
          </p>
          <p class="line-item">
            Amount: <span class="bold">
            <% if @stripe_customer.discount %>
              FREE
            <% else %>
              <%= "$"+display_fee(@sub.fee)+@sub.currency %>
            <% end %>
          </span>
          </p>
        </div>
      </div>

      <div class="options subsection">
        <h3>
          Subscription Options
        </h3>
        <div class="option">
          <% if current_user.subscription.shorthand == 'wing' %>
            <p>
              Do you seek the ultimate pleasure? Upgrade to <span class="italic">The Connoisseur</span>, $20
            </p>
            <%= link_to change_subscription_path(sub: 'conno'), :method => "POST", :class => "btn change" do %>
              switch to <br/> The Connoisseur
            <% end %>
          <% else %>
            <p>
              Don't need the luxury? Switch to <span class="italic">The Wingman</span>, $12
            </p>
            <%= link_to change_subscription_path(sub: 'wing'), :method => "POST", :class => "btn change" do %>
              switch to <br/> The Wingman
            <% end %>
          <% end %>
        </div>
      </div>

      <a class="danger-link">
        more options ↓
      </a>

      <div class="danger">
        <h3>Hold that thought.</h3>
        <p>Baby strollers are currently on sale at Walmart for $249.97. Are you sure you want to cancel?</p>
        <a class="btn cancel">
          Cancel Subscription
        </a>
      </div>

      <script type="text/javascript">
        $('.danger-link').on('click', function() {
          $('.danger').slideToggle();
        });
      </script>
    <% else %>
      <div class="restart-wrap">
        <div class="restart-inner">
          <h3>
            Let's get you started
          </h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
          <%= link_to "TAKE ME", select_pack_path, :class => "btn change" %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="modal-outer">
  <div class="backwash"></div>
  <div class="modal cancel-modal">
    <h4>We hate to see you leave...</h4>
    <p>But we'd love to know why!</p>
    <%= form_tag unsubscribe_path, method: "POST" do %>
      <div class="feedback-option">
        <%= radio_button("cancel", "feedback", "Too expensive") %>
        <%= label "cancel", "feedback", "Too expensive", value: "Too expensive" %>
      </div>
      <div class="feedback-option">
        <%= radio_button("cancel", "feedback", "Dislike the product") %>
        <%= label("cancel", "feedback", "Dislike the product", value: "Dislike the product") %>
      </div>
      <div class="feedback-option">
        <%= radio_button("cancel", "feedback", "Unsatisfied with your service") %>
        <%= label("cancel", "feedback", "Unsatisfied with your service", value: "Unsatisfied with your service") %>
      </div>
      <div class="feedback-option">
        <%= radio_button("cancel", "feedback", "Receiving too many condoms") %>
        <%= label("cancel", "feedback", "Receiving too many condoms", value: "Receiving too many condoms") %>
      </div>
      <div class="feedback-option">
        <%= radio_button("cancel", "feedback", "Other") %>
        <%= label("cancel", "feedback", "Other", value: "Other") %>
      </div>
      <%= text_area("cancel", "text_feedback") %>
      <%= submit_tag "Cancel my subsciption" %> <a class="close-modal change-link">go back</a>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  $('.cancel').on('click', function() {
    $('.modal-outer').fadeIn(150, function() {
      $('.cancel-modal').addClass('open');
    });
  });

  $('.backwash, .close-modal').on('click', function() {
    $('.cancel-modal').removeClass('open');
    $('.modal-outer').fadeOut(150);
  });

  $('#cancel_feedback_other').on('change', function() {
    $('#cancel_text_feedback').focus();
  });
</script>



