<% content_for :meta do %>
  <title>Current Subscription</title>
<% end %>

<div class="container">
  <%= render "account_side", :current => "current" %>
  <div class="right-panel">
    <% if !current_user.inactive %>
      <h3>
        Current Subscription
      </h3>
      <div class="sub-wrap">
        <div class="avatar">
          <% if current_user.subscription.shorthand == 'wing' %>
            <%= image_tag "product/wing.png" %>
          <% else %>
            <%= image_tag "product/conno.png" %>
          <% end %>
        </div>
        <div class="content">
          <h4><%= current_user.subscription.name %></h4>
          <p class="sub"><%= current_user.subscription.description %></p>
          <p class="line-item">
            Delivery: <span class="bold"><%= current_user.delivery_interval %></span>
          </p>
          <p class="line-item">
            Next bill date: <span class="bold"><%= current_user.next_bill_date_in_words %></span>
          </p>
          <p class="line-item">
            Amount: <span class="bold">
            <% if current_user.stripe_object.discount %>
              FREE
            <% else %>
              <%= "$"+display_fee(current_user.full_price)+current_user.stripe_object.currency.upcase %>
            <% end %>
          </span>
          </p>
        </div>
      </div>

      <div class="options subsection">
        <h3>
          Subscription Options
        </h3>
        <div class="option">
          <% if current_user.subscription.shorthand == 'wing' %>
            <p>
              Do you seek the ultimate pleasure? Upgrade to <span class="italic">The Connoisseur</span>, $15
            </p>
            <%= link_to change_subscription_path(sub: 'conno'), :method => "POST", :confirm => "Are you sure you want to upgrade to The Connoisseur?",  :class => "btn change" do %>
              <span>switch to</span> <br/> The Connoisseur
            <% end %>
          <% else %>
            <p>
              Don't need the luxury? Switch to <span class="italic">The Wingman</span>, $9
            </p>
            <%= link_to change_subscription_path(sub: 'wing'), :method => "POST", :confirm => "Are you sure you want to downgrade to The Wingman?", :class => "btn change" do %>
              <span>switch to</span> <br/> The Wingman
            <% end %>
          <% end %>
        </div>
        <div class="option">
          <% if current_user.is_monthly? %>
            <p>
              Need more? Good for you! Get a box delivered every 2 weeks.
            </p>
            <%= link_to change_interval_path, :method => "POST", :confirm => "Are you sure you want your condoms every 2 weeks?", :class => "btn change" do %>
              <span>get delivery</span> <br/> every 2 weeks
            <% end %>
          <% else %>
            <p>
              Want less condoms?  Get a delivery every month!
            </p>
            <%= link_to change_interval_path, :method => "POST", :confirm => "Are you sure you condoms your every month?", :class => "btn change" do %>
              <span>get delivery</span> <br/> every month
            <% end %>
          <% end %>
        </div>
      </div>

      <a class="danger-link">
        more options ↓
      </a>

      <div class="danger">
        <h3>Hold that thought.</h3>
        <p>Baby strollers are currently on sale at Walmart for $249.97. Are you sure you want to cancel?</p>
        <a class="btn cancel">
          Cancel Subscription
        </a>
      </div>

      <script type="text/javascript">
        $('.danger-link').on('click', function() {
          $('.danger').slideToggle();
        });
      </script>
    <% else %>
      <div class="restart-wrap">
        <div class="restart-inner">
          <h3>
            Let's get you started
          </h3>
          <p>
            You're ready for this.
          </p>
          <%= link_to "I WANT IN", select_pack_path, :class => "btn change" %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="modal-outer">
  <div class="backwash"></div>
  <div class="modal cancel-modal">
    <h4>We hate to see you leave...</h4>
    <p>But we'd love to know why!</p>
    <%= form_tag unsubscribe_path, method: "POST" do %>
      <div class="feedback-option">
        <%= radio_button("cancel", "feedback", "Too expensive") %>
        <%= label "cancel", "feedback", "Too expensive", value: "Too expensive" %>
      </div>
      <div class="feedback-option">
        <%= radio_button("cancel", "feedback", "Dislike the product") %>
        <%= label("cancel", "feedback", "Dislike the product", value: "Dislike the product") %>
      </div>
      <div class="feedback-option">
        <%= radio_button("cancel", "feedback", "Unsatisfied with your service") %>
        <%= label("cancel", "feedback", "Unsatisfied with your service", value: "Unsatisfied with your service") %>
      </div>
      <div class="feedback-option">
        <%= radio_button("cancel", "feedback", "Receiving too many condoms") %>
        <%= label("cancel", "feedback", "Receiving too many condoms", value: "Receiving too many condoms") %>
      </div>
      <div class="feedback-option">
        <%= radio_button("cancel", "feedback", "Other") %>
        <%= label("cancel", "feedback", "Other", value: "Other") %>
      </div>
      <%= text_area("cancel", "text_feedback") %>
      <%= submit_tag "Cancel my subsciption" %> <a class="close-modal change-link">go back</a>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  $('.cancel').on('click', function() {
    $('.modal-outer').fadeIn(150, function() {
      $('.cancel-modal').addClass('open');
    });
  });

  $('.backwash, .close-modal').on('click', function() {
    $('.cancel-modal').removeClass('open');
    $('.modal-outer').fadeOut(150);
  });

  $('#cancel_feedback_other').on('change', function() {
    $('#cancel_text_feedback').focus();
  });
</script>



