<div class="container">
  <%= render "account_side", :current => "current" %>
  <div class="right-panel">
    <% if current_user.regional_subscription %>
      <h3>
        Current Subscription
      </h3>
      <div class="sub-wrap">
        <div class="avatar">
          <%= image_tag "cube.png" %>
        </div>
        <div class="content">
          <h4><%= @sub.name %></h4>
          <p class="sub"><%= @sub.description %></p>
          <p class="line-item">
            Billing & delivery: <span class="bold"><%= @sub.interval_words %></span>
          </p>
          <p class="line-item">
            Next bill date: <span class="bold"><%= (Time.at(@stripe_customer.subscription.current_period_end)+1.day).strftime("%b %d, %Y") %></span>
          </p>
          <p class="line-item">
            Amount: <span class="bold"><%= "$"+display_fee(@sub.fee)+@sub.currency %></span>
          </p>
        </div>
      </div>

      <div class="options subsection">
        <h3>
          Subscription Options
        </h3>
        <div class="option">
          <% if current_user.is_monthly? %>
            <p>
              Need more? Good for you! Get your box delivered every 2 weeks.
            </p>
            <%= link_to change_interval_path, :method => "POST", :class => "btn change" do %>
              get delivery <br/> every 2 weeks
            <% end %>
          <% else %>
            <p>
              Want less condoms?  Get a delivery every month!
            </p>
            <%= link_to change_interval_path, :method => "POST", :class => "btn change" do %>
              get delivery <br/> every month
            <% end %>
          <% end %>
        </div>
        <div class="option">
          <% if current_user.subscription.shorthand == 'jour' %>
            <p>
              Do you seek the ultimate pleasure? Upgrade to <span class="italic">The Adventurer</span>, $17/mo
            </p>
            <%= link_to change_subscription_path(sub: 'adv'), :method => "POST", :class => "btn change" do %>
              switch to <br/> The Adventurer
            <% end %>
          <% else %>
            <p>
              Don't need the luxury? Switch to <span class="italic">The Journeyman</span>, $10/mo
            </p>
            <%= link_to change_subscription_path(sub: 'jour'), :method => "POST", :class => "btn change" do %>
              switch to <br/> The Journeyman
            <% end %>
          <% end %>
        </div>
      </div>

      <a class="danger-link">
        more options ↓
      </a>

      <div class="danger">
        <h3>Hold that thought.</h3>
        <p>Buying condoms suck. But not getting laid suck even more. We understand why you have to go, but hope to see you back soon! </p>
        <a class="btn cancel">
          Cancel Subscription
        </a>
      </div>

      <script type="text/javascript">
        $('.danger-link').on('click', function() {
          $('.danger').slideToggle();
        });
      </script>
    <% else %>
      <h3>
        Let's get you started again
      </h3>
    <% end %>
  </div>
</div>

<div class="modal-outer">
  <div class="backwash"></div>
  <div class="modal cancel-modal">
    <h4>We hate to see you leave...</h4>
    <p>But we'd love to know why!</p>
    <%= form_tag unsubscribe_path, method: "POST" do %>
      <div class="feedback-option">
        <%= radio_button("cancel", "feedback", "Too expensive") %>
        <%= label "cancel", "feedback", "Too expensive", value: "Too expensive" %>
      </div>
      <div class="feedback-option">
        <%= radio_button("cancel", "feedback", "Dislike the product") %>
        <%= label("cancel", "feedback", "Dislike the product", value: "Dislike the product") %>
      </div>
      <div class="feedback-option">
        <%= radio_button("cancel", "feedback", "Unsatisfied with your service") %>
        <%= label("cancel", "feedback", "Unsatisfied with your service", value: "Unsatisfied with your service") %>
      </div>
      <div class="feedback-option">
        <%= radio_button("cancel", "feedback", "Receiving too many condoms") %>
        <%= label("cancel", "feedback", "Receiving too many condoms", value: "Receiving too many condoms") %>
      </div>
      <div class="feedback-option">
        <%= radio_button("cancel", "feedback", "Other") %>
        <%= label("cancel", "feedback", "Other", value: "Other") %>
      </div>
      <%= text_area("cancel", "text_feedback") %>
      <%= submit_tag "Cancel my subsciption" %> <a class="close-modal change-link">go back</a>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  $('.cancel').on('click', function() {
    $('.modal-outer').fadeIn(150, function() {
      $('.cancel-modal').addClass('open');
    });
  });

  $('.backwash, .close-modal').on('click', function() {
    $('.cancel-modal').removeClass('open');
    $('.modal-outer').fadeOut(150);
  });

  $('#cancel_feedback_other').on('change', function() {
    $('#cancel_text_feedback').focus();
  });
</script>



