<div class="container">
  <%= render "account_side", :current => "history" %>
  <div class="right-panel">
    <h3>
      Past Payments
    </h3>
    <div class="invoices">
      <% @invoices.each do |i| %>
        <%= link_to show_invoice_path(i.id), :class => 'invoice-wrap', :target => '_blank' do %>
          <div class="desc">
            <%= i.created_at.strftime("%m/%d/%y") %> - <%= subs[i.user.subscription_id]['name'] %>
            <span class="state <%= "shipped" if i.shipped_on %>">
              <% if i.shipped_on %>
                [ shipped ]
              <% else %>
                [ preparing shipment ]
              <% end %>
            </span>
          </div>
          <div class="price">
            <%= subs[i.user.subscription_id]['amount'] %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

