<% content_for :meta do %>
  <title>Safe Invoice</title>
<% end %>

<div class="invoice-container">
  <div class="logo-image">
    <%= image_tag "logowords.png" %>
  </div>

  <div class="content-wrap">
    <div class="billed-to">
      <div class="bold">Billed To</div>
      <div class>
        <%= @charge.card.name %> <br/>
        <%= @charge.card.address_line1 %>
        <%= @charge.card.address_line2 %> <%= @charge.card.address_city %>, <%= @charge.card.address_state %>, <%= @charge.card.address_zip %>
      </div>
      <div class="invoice-number">
        invoice #
        <div class="bold">
          <%= @invoice.id %>
        </div>
      </div>
    </div>

    <div class="amount-wrap">
      <h3>
        Summary
        <span><%= @invoice.created_at.strftime("%b %d, %Y") %></span>
      </h3>
      <div class="item bold">
        <%= @invoice.sub_type %>
        <span>
          <%= "$"+display_fee(@charge.amount-tax_amounts_for(@charge))+@charge.currency.upcase %>
        </span>
      </div>
      <div class="item bold">
        Tax
        <span>
          <%= "$"+display_fee(tax_amounts_for(@charge))+@charge.currency.upcase %>
        </span>
      </div>
      <div class="total">
          Total:
          <span class="bold">
            <%= "$"+display_fee(@charge.amount)+@charge.currency.upcase %>
          </span>
      </div>
    </div>
  </div>
  <p>
    This charge will appear on your credit card statement as "EMBERYL CREATIVE".    <br/>
    Emberyl Creative Inc. 307-5611 No. 3 Rd. Richmond, BC, Canada.  V6X 4L7     <br/>
    GST#: 812487841RT0001
  </p>
</div>