<% content_for :meta do %>
  <title>Payment & Shipping</title>
<% end %>

<% content_for :head do %>
  <%= javascript_include_tag "validate.min.js" %>
  <%= javascript_include_tag "https://js.stripe.com/v2/" %>
  <%= javascript_include_tag "jquery.payment" %>
  <%= javascript_include_tag "jquery.customSelect.min" %>

  <script type="text/javascript">
    Stripe.setPublishableKey('<%= ENV['PUBLISHABLE_KEY'] %>');

    var stripeResponseHandler = function(status, response) {
      var $form = $('#payment-form');

      if (response.error) {
        // Show the errors on the form
        $form.find('.payment-errors').text(response.error.message);
        $form.find('input[type="submit"]').prop('disabled', false);
      } else {
        // token contains id, last4, and card type
        var token = response.id;
        $form.find('.payment-errors').text("");
        // Insert the token into the form so it gets submitted to the server
        $form.append($('<input type="hidden" name="stripeToken" />').val(token));

        $form.get(0).submit();
      }
    };

    var addNameToForm = function(form) {
      $name = form.find(".billing-name");
      if (!$name.length) {
        $name = form.prepend($("<input type='hidden' data-stripe='name' class='billing-name'>"));
        $name = form.find(".billing-name");
      }

      $name.attr('value', $('.billing-first').val()+" "+$('.billing-last').val());
    };

    $(document).ready(function() {
      $('.update-payment').validate({
        errorPlacement: function(error, element) {
        },
        errorClass: "error-field",
        submitHandler: function() {
          var $form = $('#payment-form');

          // Disable the submit button to prevent repeated clicks
          $form.find('input[type="submit"]').prop('disabled', true);
          addNameToForm($form);

          Stripe.card.createToken($form, stripeResponseHandler);

          // Prevent the form from submitting with the default action
          return false;
        }
      });
    });
  </script>
<% end %>

<div class="container">
  <%= render :partial => "account_side", :locals => {:current => "address"} %>
  <div class="right-panel address-settings">
    <div class="current-card">
      <div class="current-wrap">
        <h3>
          Credit Card
          <a class="hider credit-hider" data-target="update-payment" data-origin="billing">edit</a>
        </h3>
        <div class="billing">
          <div class="card-wrap">
            <%= image_tag "#{current_user.card_type}.png" %>
            <span class="card-type"><%= current_user.card_type %> ending in <%= current_user.card_last_four %></span>
          </div>
          <h3>
            Billing Address
          </h3>
          <div class="address-wrap">
            <div class="account-item">
              <div>First Name</div>
              <div><%= current_user.billing_first_name %></div>
            </div>
            <div class="account-item">
              <div>Last Name</div>
              <div><%= current_user.billing_last_name %></div>
            </div>
            <div class="account-item">
              <div>Phone</div>
              <div><%= current_user.billing_phone %></div>
            </div>
            <div class="account-item">
              <div>Address</div>
              <div><%= current_user.billing_address_one %></div>
            </div>
            <div class="account-item">
              <div></div>
              <div><%= current_user.billing_address_two %></div>
            </div>
            <div class="account-item">
              <div>City</div>
              <div><%= current_user.billing_city %></div>
            </div>
            <div class="account-item">
              <div>State/Province</div>
              <div><%= current_user.billing_state %></div>
            </div>
            <div class="account-item">
              <div>Zipcode</div>
              <div><%= current_user.billing_zipcode %></div>
            </div>
          </div>
        </div>
        <%= form_for @user, :url => update_payment_path, :method => "POST", :html => {:id => "payment-form", :class => "update-payment"} do |f| %>
        <div class="accepted">
          <%= image_tag "Visa.png" %>
          <%= image_tag "MasterCard.png" %>
          <%= image_tag "American Express.png" %>
        </div>

          <%= hidden_field_tag 'subscription', session[:cart] %>

          <div class="payment-errors"></div>

          <input class="card-number" type="text" size="20" data-stripe="number" placeholder="Card Number" name="card-number" required/>
          <div class="field-help">The 16 digits on the front of the card</div>

          <div class="form-row credit-date">
            <select data-stripe="exp_month" id="date_month" name="date[month]">
              <option value="">Month</option>
              <option value="01">01</option>
              <option value="02">02</option>
              <option value="03">03</option>
              <option value="04">04</option>
              <option value="05">05</option>
              <option value="06">06</option>
              <option value="07">07</option>
              <option value="08">08</option>
              <option value="09">09</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
            </select>
            <span class="slash"> / </span>
            <%= select_year 14, {start_year: Time.now.year, end_year: Time.now.year+10, prompt: 'Year'}, {"data-stripe" => "exp_year"} %>
            <div class="field-help">Expiration date - MM/YYYY </div>
          </div>

          <input type="text" size="4" data-stripe="cvc" placeholder="CVC Code" class="cvc" name="cvc-code" required/>
          <div class="field-help">Last 3 digits on back of card</div>

          <h3>Billing Address</h3>
          <%= f.text_field :billing_first_name, :placeholder => "First Name", :required => true, :class => "billing-first"  %>
          <%= f.text_field :billing_last_name, :placeholder => "Last Name", :required => true, :class => "billing-last" %>
          <%= f.text_field :billing_address_one, :placeholder => "Address Line 1 (ie. Street Address, PO Box)", "data-stripe" => "address_line1", :required => true %>
          <%= f.text_field :billing_address_two, :placeholder => "Address Line 2 (Building name, Unit #, etc)", "data-stripe" => "address_line2", :class => "not-required" %>
          <%= f.select :billing_country, options_for_select(countries), {}, {"data-stripe" => "address_country", :required => true, :class => "country"} %>
          <div class="form-row city-info">
            <%= f.text_field :billing_city, :placeholder => "City", "data-stripe" => "address_city", :required => true %>
            <%= f.select :billing_state, ca_provinces, {}, {"data-stripe" => "address_state", :required => true, :class => "state-select" } %>
            <%= f.text_field :billing_zipcode, :placeholder => "Postal/Zip Code", "data-stripe" => "address_zip", :required => true %>
          </div>
          <%= f.text_field :billing_phone, :placeholder => "Phone", :required => true %>

          <%= f.submit "Save & Update Credit Card" %>
          <a class="canceller" data-target="billing" data-origin="update-payment">Cancel</a>
        <% end %>
        <div class="shipping">
          <h3>
            Shipping Address
            <a class="hider" data-target="update-shipping" data-origin="shipping">edit</a>
          </h3>
          <% if current_user.shipping_same %>
            <div class="address-wrap">
              <div class="account-item">
                <div>First Name</div>
                <div><%= current_user.billing_first_name %></div>
              </div>
              <div class="account-item">
                <div>Last Name</div>
                <div><%= current_user.billing_last_name %></div>
              </div>
              <div class="account-item">
                <div>Phone</div>
                <div><%= current_user.billing_phone %></div>
              </div>
              <div class="account-item">
                <div>Address</div>
                <div><%= current_user.billing_address_one %></div>
              </div>
              <div class="account-item">
                <div></div>
                <div><%= current_user.billing_address_two %></div>
              </div>
              <div class="account-item">
                <div>City</div>
                <div><%= current_user.billing_city %></div>
              </div>
              <div class="account-item">
                <div>State/Province</div>
                <div><%= current_user.billing_state %></div>
              </div>
              <div class="account-item">
                <div>Zipcode</div>
                <div><%= current_user.billing_zipcode %></div>
              </div>
            </div>
          <% else %>
            <div class="address-wrap">
              <div class="account-item">
                <div>First Name</div>
                <div><%= current_user.shipping_first_name %></div>
              </div>
              <div class="account-item">
                <div>Last Name</div>
                <div><%= current_user.shipping_last_name %></div>
              </div>
              <div class="account-item">
                <div>Phone</div>
                <div><%= current_user.shipping_phone %></div>
              </div>
              <div class="account-item">
                <div>Address</div>
                <div><%= current_user.shipping_address_one %></div>
              </div>
              <div class="account-item">
                <div></div>
                <div><%= current_user.shipping_address_two %></div>
              </div>
              <div class="account-item">
                <div>City</div>
                <div><%= current_user.shipping_city %></div>
              </div>
              <div class="account-item">
                <div>State/Province</div>
                <div><%= current_user.shipping_state %></div>
              </div>
              <div class="account-item">
                <div>Zipcode</div>
                <div><%= current_user.shipping_zipcode %></div>
              </div>
            </div>
          <% end %>
        </div>
        <div class="update-shipping">
          <%= form_for @user,:url => account_update_shipping_path, :method => "POST", :html => {:class => 'user-form update-form'} do |f| %>
            <h3>
              Shipping Address
              <div class="same-billing">
                <%= f.check_box :shipping_same, :class => "billing-same"  %><%= f.label :shipping_same, "Same as billing"%>
              </div>
            </h3>
            <div class="shipping-info <%= "show" unless current_user.shipping_same %>">
              <%= f.text_field :shipping_first_name, :placeholder => "First Name", :required => true %>
              <%= f.text_field :shipping_last_name, :placeholder => "Last Name", :required => true %>
              <%= f.text_field :shipping_address_one, :placeholder => "Address Line 1 (ie. Street Address, PO Box)", :required => true %>
              <%= f.text_field :shipping_address_two, :placeholder => "Address Line 2 (Building name, Unit #, etc)", :class => "not-required" %>
              <%= f.select :shipping_country, options_for_select(countries), {}, {:class => "country"} %>
              <div class="form-row city-info">
                <%= f.text_field :shipping_city, :placeholder => "City", :required => true %>
                <%= f.select :shipping_state, ca_provinces, {}, :class => "state-select" %>
                <%= f.text_field :shipping_zipcode, :placeholder => "Postal/Zip Code", :required => true %>
              </div>
              <%= f.text_field :shipping_phone, :placeholder => "Phone" %>
            </div>
            <%= f.submit "Save & Update Shipping Address", :class => "btn" %>
            <a class="canceller" data-target="shipping" data-origin="update-shipping">Cancel</a>
          <% end %>
        </div>
      </div>
  </div>
</div>
</div>


<script type="text/javascript">
  $(document).ready(function() {
    $('.update-form').validate({
      errorPlacement: function(error, element) {
      },
      errorClass: "error-field"
    });
  });

  $('.billing-same').on('change', function() {
    var $this = $(this);
    if ( $this.prop('checked') ) {
      $('.shipping-info').hide();
    }
    else {
      $('.shipping-info').show();
      $('select').trigger('update');
    }
  });

  $('.hider').on('click', function() {
    var $this = $(this);
    var $origin = $('.'+$this.attr('data-origin'));
    var $target = $('.'+$this.attr('data-target'));

    $origin.hide();
    $target.show();
    $('select').trigger('update');
  });

  $('.canceller').on('click', function() {
    var $this = $(this);
    var $origin = $('.'+$this.attr('data-origin'));
    var $target = $('.'+$this.attr('data-target'));

    $origin.hide();
    $target.show();
  });

  $(window).load(function() {
    $('.card-number').payment('formatCardNumber');
    $('.cvc').payment('formatCardCVC');
    $('select').customSelect();
  });
</script>