

<div class="container">
  <%= render :partial => "account_side", :locals => {:current => "address"} %>
  <div class="right-panel address-settings">
    <div class="current-card">
      <h3>Current Card</h3>
      <div class="card-wrap">
        <%= image_tag "#{current_user.card_type}.png" %>
        <span><%= current_user.card_type %> ending in <%= current_user.card_last_four %></span>
      </div>
    </div>
    <div class="update-wrap">
      <% content_for :head do %>
        <%= javascript_include_tag "http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js" %>
        <%= javascript_include_tag "https://js.stripe.com/v2/" %>

        <script type="text/javascript">
          Stripe.setPublishableKey('pk_test_h3DuEFi6li4dKSe8ZcfporXg');

          var stripeResponseHandler = function(status, response) {
            var $form = $('#payment-form');

            if (response.error) {
              // Show the errors on the form
              $form.find('.payment-errors').text(response.error.message);
              $form.find('input[type="submit"]').prop('disabled', false);
            } else {
              // token contains id, last4, and card type
              var token = response.id;
              $form.find('.payment-errors').text("");
              // Insert the token into the form so it gets submitted to the server
              $form.append($('<input type="hidden" name="stripeToken" />').val(token));

              console.log(response);

              $form.get(0).submit();
            }
          };

          $(document).ready(function() {
            $('#payment-form').validate({
              errorPlacement: function(error, element) {
              },
              errorClass: "error-field",
              rules: {
                "user[shipping_first_name]": {
                  required: ".billing-same:unchecked"
                },
                "user[shipping_last_name]": {
                  required: ".billing-same:unchecked"
                },
                "user[shipping_address_one]": {
                  required: ".billing-same:unchecked"
                },
                "user[shipping_city]": {
                  required: ".billing-same:unchecked"
                },
                "user[shipping_zipcode]": {
                  required: ".billing-same:unchecked"
                },
                "user[shipping_phone]": {
                  required: ".billing-same:unchecked"
                }
              },
              submitHandler: function() {
                var $form = $('#payment-form');

                // Disable the submit button to prevent repeated clicks
                $form.find('input[type="submit"]').prop('disabled', true);

                Stripe.card.createToken($form, stripeResponseHandler);

                // Prevent the form from submitting with the default action
                return false;
              }
            });
          });
        </script>
      <% end %>

      <%= form_for @user, :url => customer_payment_path, :method => "POST", :html => {:id => "payment-form"} do |f| %>
        <%= hidden_field_tag 'subscription', session[:cart] %>

        <h3 class="title">
          Update Credit Card Info <%= image_tag "lock.png" %>
          <div class="required-text"><span>*</span> Required fields</div>
        </h3>

        <div class="payment-errors"></div>

        <input type="text" size="20" data-stripe="number" placeholder="Card Number" name="card-number" required/>
        <div class="field-help">The 16 digits on the front of the card</div>

        <div class="form-row credit-date">
          <select data-stripe="exp-month" id="date_month" name="date[month]">
            <option value="">Month</option>
            <option value="01">01</option>
            <option value="02">02</option>
            <option value="03">03</option>
            <option value="04">04</option>
            <option value="05">05</option>
            <option value="06">06</option>
            <option value="07">07</option>
            <option value="08">08</option>
            <option value="09">09</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
          </select>
          <span> / </span>
          <%= select_year 14, {start_year: Time.now.year, end_year: Time.now.year+10, prompt: 'Year'}, {"data-stripe" => "exp-year"} %>
          <div class="field-help">Expiration date - MM/YYYY </div>
        </div>

        <input type="text" size="4" data-stripe="cvc" placeholder="CVC Code" class="cvc" name="cvc-code" required/>
        <div class="field-help">Last 3 digits on back of card</div>

        <h3>Billing Information</h3>
        <%= f.text_field :billing_first_name, :placeholder => "First Name", :required => true  %>
        <%= f.text_field :billing_last_name, :placeholder => "Last Name", :required => true %>
        <%= f.text_field :billing_address_one, :placeholder => "Address Line 1", "data-stripe" => "address_line1", :required => true %>
        <%= f.text_field :billing_address_two, :placeholder => "Address Line 2", "data-stripe" => "address_line2", :class => "not-required" %>
        <%= f.select :billing_country, options_for_select(countries), {}, {"data-stripe" => "address_country", :required => true, :class => "country"} %>
        <div class="form-row city-info">
          <%= f.text_field :billing_city, :placeholder => "City", "data-stripe" => "address_city", :required => true %>
          <%= f.select :billing_state, options_for_select(ca_provinces), "data-stripe" => "address_state", :required => true %>
          <%= f.text_field :billing_zipcode, :placeholder => "Postal/Zip Code", "data-stripe" => "address_zip", :required => true %>
        </div>
        <%= f.text_field :billing_phone, :placeholder => "Phone", :required => true %>

        <h3>
          Shipping Information
          <div class="same-billing">
            <%= f.check_box :shipping_same, :checked => true, :class => "billing-same"  %><%= f.label :shipping_same, "Same as billing"%>
          </div>
        </h3>

        <div class="shipping-info">
          <%= f.text_field :shipping_first_name, :placeholder => "First Name" %>
          <%= f.text_field :shipping_last_name, :placeholder => "Last Name" %>
          <%= f.text_field :shipping_address_one, :placeholder => "Address Line 1" %>
          <%= f.text_field :shipping_address_two, :placeholder => "Address Line 2", :class => "not-required" %>
          <%= f.select :shipping_country, options_for_select(countries), {}, {:class => "country"} %>
          <div class="form-row city-info">
            <%= f.text_field :shipping_city, :placeholder => "City"%>
            <%= f.select :shipping_state, options_for_select(ca_provinces) %>
            <%= f.text_field :shipping_zipcode, :placeholder => "Postal/Zip Code" %>
        </div>
        <%= f.text_field :shipping_phone, :placeholder => "Phone" %>
      </div>

      <p class="terms">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eget ultrices eros, quis dapibus nulla. Nulla faucibus nunc volutpat consequat lobortis. Aliquam non metus at elit elementum lacinia. Nunc adipiscing vehicula vestibulum.
      </p>

      <%= f.submit "Update Info" %>
    <% end %>
    </div>
  </div>
</div>


<script type="text/javascript">
  $('.billing-same').on('change', function() {
    var $this = $(this);
    if ( $this.prop('checked') ) {
      $('.shipping-info').hide();
    }
    else {
      $('.shipping-info').show();
    }
  });
</script>