<% content_for :head do %>
  <%= javascript_include_tag "onepage-scroll.min" %>
  <%= stylesheet_link_tag "onepage-scroll" %>
<% end %>

<div class="main">
  <section class="unit active" data-src="<%= image_path("sexygirl10.jpg") %>">
    <div class="content container">
      <div class="words">
        <div class="stick"></div>
        <h3>
          EXPECTED
        </h3>
        <p>
          This is your time. Leave nothing to chance.
        </p>
        <%= link_to "I GOT THIS", select_pack_path, :class => 'btn' %>
      </div>
    </div>
  </section>
  <section class="unit" data-src="<%= image_path("sexygirl6.jpg") %>">
    <div class="content container">
      <div class="words">
        <div class="stick"></div>
        <h3>
          YOU'RE READY
        </h3>
        <p>
          Great moments are born from great opportunity. You were meant for it.
        </p>
        <%= link_to "I'M READY", select_pack_path, :class => 'btn change' %>
      </div>
    </div>
  </section>
  <section class="unit" data-src="<%= image_path("sexygirl7.jpg") %>">
    <div class="content container">
      <div class="words">
        <div class="stick"></div>
        <h3>
          GO ON, PLAY SAFE
        </h3>
        <p>
          Quality protection for ultimate pleasure - delivered to your doorstep.
        </p>
        <%= link_to "OKAY, GOT IT", select_pack_path, :class => 'btn' %>
      </div>
    </div>
    <div class="foot">
      <%= link_to "LEGAL", legal_path, :class => "light" %>
      &middot;
      <%= link_to "FAQ", faq_path, :class => "light" %>
    </div>
  </section>
</div>

<script type="text/javascript">
  $('.unit').each(function() {
    $(this).css('background-image', 'url("'+$(this).attr('data-src')+'")');
  });

  function transformWords($el, pos, time) {
    var time = time || 600;
    var ease = 'cubic-bezier(0.75,0.1,0.75,1)';

    $el.css({
      "-webkit-transform": "translate3d(0, " + pos + "%, 0)",
      "-webkit-transition": "all " + time + "ms " + ease,
      "-moz-transform": "translate3d(0, " + pos + "%, 0)",
      "-moz-transition": "all " + time + "ms " + ease,
      "-ms-transform": "translate3d(0, " + pos + "%, 0)",
      "-ms-transition": "all " + time + "ms " + ease,
      "transform": "translate3d(0, " + pos + "%, 0)",
      "transition": "all " + time + "ms " + ease
    });
  }

  transformWords($('section .content'), '200');
  transformWords($('.active .content'), '0', '0');

  $(".main").onepage_scroll({
    sectionContainer: "section", // sectionContainer accepts any kind of selector in case you don't want to use section
    easing: "cubic-bezier(0.55,0.1,0.55,1)", // Easing options accepts the CSS3 easing animation such "ease", "linear", "ease-in", "ease-out", "ease-in-out", or even cubic bezier value such as "cubic-bezier(0.175, 0.885, 0.420, 1.310)"
    animationTime: 800, // AnimationTime let you define how long each section takes to animate
    pagination: true, // You can either show or hide the pagination. Toggle true for show, false for hide.
    updateURL: false, // Toggle this true if you want the URL to be updated automatically when the user scroll to each page.
    beforeMove: function(next, current) {

      var pos = '-200';
      if ( next < current ) {
        pos = '200';
      }

      transformWords($($('section').get(current-1)).children('.content'),pos);
      if ( Math.abs(next - current) > 1 ) {
        transformWords($($('section').get(1)).children('.content'),pos);
      }

      transformWords($('.active .content'),0);
    }, // This option accepts a callback function. The function will be called before the page moves.
    afterMove: function(index) {}, // This option accepts a callback function. The function will be called after the page moves.
    loop: false, // You can have the page loop back to the top/bottom when the user navigates at up/down on the first/last page.
    responsiveFallback: false // You can fallback to normal page scroll by defining the width of the browser in which you want the responsive fallback to be triggered. For example, set this to 600 and whenever the browser's width is less than 600, the fallback will kick in.
  });

  document.ontouchstart = function(e){
    if(e.target.nodeName != 'A' && e.target.nodeName != 'LI'){
      e.preventDefault();
      e.stopImmediatePropagation();
    }
  }
</script>