<div class="container chooser">
  <div class="title">
    <h1>YOUR TIME IS NOW</h1>
    <p>Get busy living a little more</p>
  </div>
  <div class="selections">
    <div class="selection">
      <div class="avatar-wrap">
        <div class="avatar-inner">
          <h3>
            <span>The</span>
            <span>Wingman</span>
          </h3>
          <div class="avatar">
            <%= image_tag "product/wing.png" %>
          </div>
          <span class="limited">limited <br/> offer</span>
        </div>
        <div class="price">
          <span class="strike">$12/mo</span>
          <span class="real">$9/mo</span>
          <span class="sub">S&H incl.</span>
        </div>
      </div>

      <%= link_to add_pack_path("wing"), :class => "select-btn" do %>
        SELECT
      <% end %>

      <div class="powers">
        <p>
          8 high quality Durex sensi-thin condoms
        </p>
        <p>
          1 premium Okamoto 0.03 condom, World’s Thinnest Condom, Made in Japan
        </p>
        <p>
          For those who value simplicity
        </p>
        <p>
          Sleek black box with a discreet magnetic lift
        </p>
        <p>
          Discreet delivery to your door step
        </p>
      </div>
    </div>
    <div class="selection">
      <div class="avatar-wrap">
        <div class="avatar-inner">
          <h3>
            <span>The</span>
            <span>CONNOISSEUR</span>
          </h3>
          <div class="avatar">
            <%= image_tag "product/conno.png" %>
          </div>
          <span class="limited">limited <br/> offer</span>
        </div>
        <div class="price">
          <span class="strike">$20/mo</span>
          <span class="real">$15/mo</span>
          <span class="sub">S&H incl.</span>
        </div>
      </div>

      <%= link_to add_pack_path("conno"), :class => "select-btn" do %>
        SELECT
      <% end %>

      <div class="powers">
        <p>
          9 Premium Okamoto 0.03 Condoms, World’s Thinnest Condom, Made in Japan
        </p>
        <p>
          Japan’s #1 Best-Selling Condoms
        </p>
        <p>
          Reliable, thin, and odorless
        </p>
        <p>
          For those who seek ultimate pleasure
        </p>
        <p>
          Sleek black box with a discreet magnetic lift
        </p>
        <p>
          Discreet delivery to your door step
        </p>
      </div>
    </div>
  </div>
</div>

<style>
  body {
    background: url(<%= asset_path "product/g1.jpg" %>);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
</style>

<script type="text/javascript">
  $('.header').addClass('dark');
</script>