<% content_for :meta do %>
  <title>Customer Checkout</title>
<% end %>

<div class="container checkout">
  <div class="left">
    <h3>You've got this.</h3>
    <div class="info">
      <div class="inner">
        <div class="avatar">
          <% if @sub.shorthand == 'wing' %>
            <%= image_tag "product/wing.png" %>
          <% else %>
            <%= image_tag "product/conno.png" %>
          <% end %>
        </div>
        <div class="content">
          <div class="line">
            <div class="title"><%= @sub.name %> <br/>
              <% if @quantity == 2 %>
                <span>biweekly delivery</span>
              <% else %>
                <span>monthly delivery</span>
              <% end %>
            </div>
            <div class="price">$<%= display_fee(@sub.price * @quantity) %><span class="currency">CAD</span></div>
          </div>
          <div class="line">
            <div class="title">Shipping</div>
            <div class="price">FREE</div>
          </div>
          <div class="line total">
            <div class="title">Total</div>
            <div class="price">$<%= display_fee(@sub.price * @quantity) %><span class="currency">CAD</span></div>
          </div>
          <div class="note">
            Applicable taxes will be applied to all orders.
          </div>
        </div>
      </div>
    </div>
  </div>
  <% content_for :head do %>
    <%= javascript_include_tag "validate.min.js" %>
    <%= javascript_include_tag "https://js.stripe.com/v2/" %>
    <%= javascript_include_tag "jquery.payment" %>


    <script type="text/javascript">
      Stripe.setPublishableKey('<%= ENV['PUBLISHABLE_KEY'] %>');

      var stripeResponseHandler = function(status, response) {
        var $form = $('#payment-form');

        if (response.error) {
          // Show the errors on the form
          $form.find('.payment-errors').text(response.error.message);
          $form.find('input[type="submit"]').prop('disabled', false);
        } else {
          // token contains id, last4, and card type
          var token = response.id;
          $form.find('.payment-errors').text("");
          // Insert the token into the form so it gets submitted to the server
          $form.append($('<input type="hidden" name="stripeToken" />').val(token));

          $form.get(0).submit();
        }
      };

      var addNameToForm = function(form) {
        $form = form;
        $name = form.find(".billing-name");
        if (!$name.length) {
          $name = form.prepend($("<input type='hidden' data-stripe='name' class='billing-name'>"));
          $name = form.find(".billing-name");
        }

        $name.attr('value', $('.billing-first').val()+" "+$('.billing-last').val());
      };

      $(window).load(function() {
        $('.card-number').payment('formatCardNumber');
        $('.cvc').payment('formatCardCVC');
      });

      $(document).ready(function() {
        $('#payment-form').validate({
          errorPlacement: function(error, element) {
          },
          errorClass: "error-field",
          rules: {
            "user[shipping_first_name]": {
              required: ".billing-same:unchecked"
            },
            "user[shipping_last_name]": {
              required: ".billing-same:unchecked"
            },
            "user[shipping_address_one]": {
              required: ".billing-same:unchecked"
            },
            "user[shipping_city]": {
              required: ".billing-same:unchecked"
            },
            "user[shipping_zipcode]": {
              required: ".billing-same:unchecked"
            },
            "user[shipping_phone]": {
              required: ".billing-same:unchecked"
            }
          },
          submitHandler: function() {
            var $form = $('#payment-form');

            // Disable the submit button to prevent repeated clicks
            $form.find('input[type="submit"]').prop('disabled', true);
            addNameToForm($form);

            Stripe.card.createToken($form, stripeResponseHandler);

            // Prevent the form from submitting with the default action
            return false;
          }
        });
      });
    </script>
  <% end %>

  <%= form_for @user, :url => customer_payment_path, :method => "POST", :html => {:id => "payment-form"} do |f| %>
    <%= hidden_field_tag 'subscription', session[:cart] %>
    <%= hidden_field_tag 'quantity', session[:quantity] %>

    <h3>
      Credit Card Information <%= image_tag "lock.png" %>
      <div class="required-text"><span>*</span> Required fields</div>
    </h3>

    <div class="accepted">
      <%= image_tag "Visa.png" %>
      <%= image_tag "MasterCard.png" %>
      <%= image_tag "American Express.png" %>
    </div>

    <div class="payment-errors"></div>

    <input class="card-number" type="text" size="20" data-stripe="number" placeholder="Card Number" name="card-number" required/>
    <div class="field-help">The 16 digits on the front of the card</div>

    <div class="form-row credit-date">
      <select data-stripe="exp_month" id="date_month" name="date[month]">
        <option value="">Month</option>
        <option value="01">01</option>
        <option value="02">02</option>
        <option value="03">03</option>
        <option value="04">04</option>
        <option value="05">05</option>
        <option value="06">06</option>
        <option value="07">07</option>
        <option value="08">08</option>
        <option value="09">09</option>
        <option value="10">10</option>
        <option value="11">11</option>
      <option value="12">12</option>
    </select>
    <span class="slash"> / </span>
    <%= select_year 14, {start_year: Time.now.year, end_year: Time.now.year+10, prompt: 'Year'}, {"data-stripe" => "exp_year"} %>
    <div class="field-help">Expiration date - MM/YYYY </div>
  </div>

  <input type="text" size="4" data-stripe="cvc" placeholder="CVC Code" class="cvc" name="cvc-code" required/>
  <div class="field-help" class="cvc">Last 3 digits on back of card</div>

  <h3>Billing Information</h3>
  <%= f.text_field :billing_first_name, :placeholder => "First Name", :required => true, :class => "billing-first"  %>
  <%= f.text_field :billing_last_name, :placeholder => "Last Name", :required => true, :class => "billing-last" %>
  <%= f.text_field :billing_address_one, :placeholder => "Address Line 1 (ie. Street Address, PO Box)", "data-stripe" => "address_line1", :required => true %>
  <%= f.text_field :billing_address_two, :placeholder => "Address Line 2 (Building name, Unit #, etc)", "data-stripe" => "address_line2 ", :class => "not-required" %>
  <%= f.select :billing_country, options_for_select(countries), {}, {"data-stripe" => "address_country", :required => true, :class => "country billing-country-select", "data-states" => "billing-state-select"} %>
  <div class="form-row city-info">
    <%= f.text_field :billing_city, :placeholder => "City", "data-stripe" => "address_city", :required => true %>
    <%= f.select :billing_state, options_for_select(ca_provinces), {}, {"data-stripe" => "address_state", :required => true, :class => "state-select billing-state-select"} %>
    <%= f.text_field :billing_zipcode, :placeholder => "Postal/Zip Code", "data-stripe" => "address_zip", :required => true %>
  </div>
  <%= f.text_field :billing_phone, :placeholder => "Phone", :required => true %>

  <h3>
    Shipping Information
    <div class="same-billing">
      <%= f.check_box :shipping_same, :checked => true, :class => "billing-same"  %><%= f.label :shipping_same, "Same as billing"%>
    </div>
  </h3>

  <div class="shipping-info">
    <%= f.text_field :shipping_first_name, :placeholder => "First Name" %>
    <%= f.text_field :shipping_last_name, :placeholder => "Last Name" %>
    <%= f.text_field :shipping_address_one, :placeholder => "Address Line 1 (ie. Street Address, PO Box)" %>
    <%= f.text_field :shipping_address_two, :placeholder => "Address Line 2 (Building name, Unit #, etc)", :class => "not-required" %>
    <%= f.select :shipping_country, options_for_select(countries), {}, {:class => "country", "data-states" => "shipping-state-select"} %>
    <div class="form-row city-info">
      <%= f.text_field :shipping_city, :placeholder => "City"%>
      <%= f.select :shipping_state, options_for_select(ca_provinces), {}, :class => "state-select shipping-state-select" %>
      <%= f.text_field :shipping_zipcode, :placeholder => "Postal/Zip Code" %>
    </div>
    <%= f.text_field :shipping_phone, :placeholder => "Phone" %>
  </div>

  <p class="terms">
    By signing up you agree to Safe's <%= link_to "Terms & Privacy", legal_path %> and that your subscription will automatically renew on a monthly basis and your credit card will automatically be charged the applicable monthly subscription fee and shipping and handling fees until you cancel your membership.
  </p>

  <%= f.submit "Check out" %>
<% end %>
</div>

<script type="text/javascript">
  $('.billing-same').on('change', function() {
    var $this = $(this);
    if ( $this.prop('checked') ) {
      $('.shipping-info').hide();
    }
    else {
      $('.shipping-info').show();
      $('select').trigger('update');
    }
  });

  $(window).load(function() {
    $('.card-number').payment('formatCardNumber');
    $('.cvc').payment('formatCardCVC');
  });

  var ca_states =
    [
      ['AB', 'AB'],
      ['BC', 'BC'],
      ['MB', 'MB'],
      ['NB', 'NB'],
      ['NL', 'NL'],
      ['NS', 'NS'],
      ['NT', 'NT'],
      ['NU', 'NU'],
      ['ON', 'ON'],
      ['PE', 'PE'],
      ['SK', 'SK'],
      ['YT', 'YT']
    ]

  var us_states =
    [
      ['AK', 'AK'],
      ['AL', 'AL'],
      ['AR', 'AR'],
      ['AZ', 'AZ'],
      ['CA', 'CA'],
      ['CO', 'CO'],
      ['CT', 'CT'],
      ['DC', 'DC'],
      ['DE', 'DE'],
      ['FL', 'FL'],
      ['GA', 'GA'],
      ['HI', 'HI'],
      ['IA', 'IA'],
      ['ID', 'ID'],
      ['IL', 'IL'],
      ['IN', 'IN'],
      ['KS', 'KS'],
      ['KY', 'KY'],
      ['LA', 'LA'],
      ['MA', 'MA'],
      ['MD', 'MD'],
      ['ME', 'ME'],
      ['MI', 'MI'],
      ['MN', 'MN'],
      ['MO', 'MO'],
      ['MS', 'MS'],
      ['MT', 'MT'],
      ['NC', 'NC'],
      ['ND', 'ND'],
      ['NE', 'NE'],
      ['NH', 'NH'],
      ['NJ', 'NJ'],
      ['NM', 'NM'],
      ['NV', 'NV'],
      ['NY', 'NY'],
      ['OH', 'OH'],
      ['OK', 'OK'],
      ['OR', 'OR'],
      ['PA', 'PA'],
      ['RI', 'RI'],
      ['SC', 'SC'],
      ['SD', 'SD'],
      ['TN', 'TN'],
      ['TX', 'TX'],
      ['UT', 'UT'],
      ['VA', 'VA'],
      ['VT', 'VT'],
      ['WA', 'WA'],
      ['WI', 'WI'],
      ['WV', 'WV'],
      ['WY', 'WY']
    ]

  $('select').customSelect({
    changed: function(select, customSelectSpan, newVal, oldVal) {
      $select = $(select);
      if (newVal != oldVal && $select.attr('data-states') != null) {
        $statesSelect = $('.'+$select.attr('data-states'));
        var states = select.val() == 'CA' && ca_states || us_states;

        $statesSelect.find('option').remove();
        $.each(states, function(index, item) {
          $option = $('<option value="' + item[0] + '">' + item[1] + '</option>');
          $statesSelect.append($option);
        });

        if ($select.hasClass('billing-country-select')) {
          $currency = $('.currency');
          $currency.html($select.val()+'D');
        }

        $('select').trigger('update');
      }
    }
  });
</script>

<% content_for :head do %>
  <%= javascript_include_tag "jquery.customSelect.min" %>
<% end %>
