
<div class="registration">
  <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
    <div class="devise-error"><%= devise_error_messages! %></div>

    <h2>Forgot password?</h2>

    <%= f.email_field :email, :autofocus => true, :placeholder => "Your Email" %>

    <div><%= f.submit "Submit" %></div>
  <% end %>

  <%= render "users/shared/links" %>
</div>
