<!DOCTYPE html>
<html>
<head>
  <title>Safe</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>

  <%= yield :head %>
</head>
<body>

<div class="header">
  <div class="container">
    <% if current_user %>
      <%= link_to "LOGOUT", destroy_user_session_path, :method => "DELETE", :class => "light" %>
    <% end %>
  </div>
</div>

<div class="container">
  <%= yield %>
</div>

</body>
</html>
